﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PMSWebAppDemo</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/LayoutDemo/style.css">

    <script src="~/js/LayoutDemo/jquery.min.js"></script>

</head>
<body>
    <header>
    </header>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                <i class="fa fa-bars"></i>
                <span class="sr-only">Toggle Menu</span>
                </button>
            </div>
            <div class="p-4 pt-5">
                <h1><a href="index.html" class="logo">CCSD Project</a></h1>
                <ul class="list-unstyled components mb-5">
                @* <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                <a href="#">Home 1</a>
                </li>
                <li>
                <a href="#">Home 2</a>
                </li>
                <li>
                <a href="#">Home 3</a>
                </li>
                </ul>
                </li>
                <li>
                <a href="#">About</a>
                </li>
                <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                <a href="#">Page 1</a>
                </li>
                <li>
                <a href="#">Page 2</a>
                </li>
                <li>
                <a href="#">Page 3</a>
                </li>
                </ul>
                </li>
                <li>
                <a href="#">Portfolio</a>
                </li> *@
                <li>
                    <a class="" asp-area="" asp-controller="Home" asp-action="Calendar">Calendar</a>
                </li>
                <li>
                    <a class="" asp-area="" asp-controller="Home" asp-action="NewFeature">New Feature</a>
                </li>
                </ul>

            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5">
            <div class="container">
                <main role="main" class="pb-3" style="margin-bottom:8vh;">
                    @RenderBody()
                </main>
            </div>            
        </div>
        
    </div>


    <script src="~/js/LayoutDemo/popper.js"></script>
    <script src="~/js/LayoutDemo/bootstrap.min.js"></script>
    <script src="~/js/LayoutDemo/main.js"></script>

    <footer class="border-top footer text-muted">
        
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
