﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    /* #calendar {
        border: 1px solid black;
        height: 400px;
        width: 604px;
    } */

    .day {
        display: inline-block;
        height: 80px;
        position: relative;
        vertical-align: top;
        width: 152px;
        border-style: solid;
    }

    /* .day:nth-child( even ) {
        background-color: pink;
    }

    .day:nth-child( odd ) {
        background-color: lightblue;
    } */

    .event {
        background-color: lightgrey;
        height: 20px;
        position: absolute;
        text-align: center;
        width: 100%;
    }

    .dayName {
        display: inline-block;
        height: 30px;
        position: relative;
        vertical-align: top;
        text-align: center;
        width: 152px;
        border-style: solid;
    }

    .empty {
        display: inline-block;
        height: 80px;
        position: relative;
        vertical-align: top;
        width: 152px;
        border-style: solid;
    }

    /* .empty:nth-child( even ) {
        background-color: pink;
    } */

    .empty {
        background-color: gray;
    }

    .day:nth-child( n+6 ):nth-child( -n+7 ), .day:nth-child( n+13 ):nth-child( -n+14 ), .day:nth-child( n+20 ):nth-child( -n+21 ), .day:nth-child( n+27 ):nth-child( -n+28 ), .day:nth-child( n+34 ):nth-child( -n+35 ), .day:nth-child( n+41 ):nth-child( -n+42 ) {
        background-color: pink;
    }

    .day:nth-child( n+1 ):nth-child( -n+5 ), .day:nth-child( n+8 ):nth-child( -n+12 ), .day:nth-child( n+15 ):nth-child( -n+19 ), .day:nth-child( n+22 ):nth-child( -n+26 ), .day:nth-child( n+29 ):nth-child( -n+33 ), .day:nth-child( n+36 ):nth-child( -n+40 ) {
        background-color: lightblue;
    }

</style>

<div class="dayName">Monday</div><div class="dayName">Tuesday</div><div class="dayName">Wednesday</div><div class="dayName">Thursday</div><div class="dayName">Friday</div><div class="dayName">Saturday</div><div class="dayName">Sunday</div>

<div id="calendar">
    @* <div class="empty"></div><div class="empty"></div><div class="empty"></div><div class="empty"></div><div class="empty"></div><div id="day1" class="day"></div><div id="day2" class="day"></div><div id="day3" class="day"></div><div id="day4" class="day"></div><div id="day5" class="day"></div><div id="day6" class="day"></div><div id="day7" class="day"></div><div id="day8" class="day"></div><div id="day9" class="day"></div><div id="day10" class="day"></div><div id="day11" class="day"></div><div id="day12" class="day"></div><div id="day13" class="day"></div><div id="day14" class="day"></div><div id="day15" class="day"></div><div id="day16" class="day"></div><div id="day17" class="day"></div><div id="day18" class="day"></div><div id="day19" class="day"></div><div id="day20" class="day"></div><div id="day21" class="day"></div><div id="day22" class="day"></div><div id="day23" class="day"></div><div id="day24" class="day"></div><div id="day25" class="day"></div><div id="day26" class="day"></div><div id="day27" class="day"></div><div id="day28" class="day"></div><div id="day29" class="day"></div><div id="day30" class="day"></div> *@
</div>

@* <div style="width:20px; height:20px;"></div> *@

<script>
    initializeCalender();

    var events = [{ from: 3, to: 9 }, { from: 4, to: 4 }, { from: 9, to: 11 }, { from: 4, to: 12 }];

    for (var eventIndex = 0, event; event = events[eventIndex], eventIndex < events.length; eventIndex++) {
        for (var dayIndex = event.from; dayIndex <= event.to; dayIndex++) {
            var dayElement = document.getElementById('day' + dayIndex), 
            firstDay = document.getElementsByClassName('event' + eventIndex),
            topValue;
            if (firstDay.length) {
                topValue = firstDay[0].style.top;
            } else {
                var eventCount = dayElement.getElementsByClassName('event').length;
                topValue = (eventCount * 20) + 'px';
            };

            var html = '<div '
                + 'class="event event' + eventIndex + '" '
                + 'style="top: ' + topValue + ';" title="testing hover information">'
                + eventIndex
                + '</div>';
            dayElement.insertAdjacentHTML('beforeEnd', html);
        };
    };

    function initializeCalender() { 
    
        var calenderContainer = document.getElementById("calendar");

        for (var emptyIndex = 0; emptyIndex < 5; emptyIndex++) {
            calenderContainer.innerHTML = calenderContainer.innerHTML + '<div class="empty"></div>';
        }

        for (var dayIndex = 1; dayIndex <= 31; dayIndex++) {
            calenderContainer.innerHTML = calenderContainer.innerHTML + '<div id="day' + dayIndex + '" class="day"></div>';
        }

        if (36 % 7 > 0) {
            var remainderDay = 7 - (36 % 7);

            for (var remainderIndex = 0; remainderIndex < remainderDay; remainderIndex++) {
                calenderContainer.innerHTML = calenderContainer.innerHTML + '<div class="empty"></div>';
            }
        }
    }

</script>