﻿<script src="/lib/FullCalendarPlugins/index.global.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

<script>
    // var events = [];
    // var selectedEvent = null;
    // FetchEventAndRenderCalendar();    

    // function FetchEventAndRenderCalendar() {
    //     events = [];
    //     $.ajax({
    //         type: "GET",
    //         url: "/home/GetEvents",
    //         success: function (data) {
    //             $.each(data, function (i, v) {
    //                 events.push({
    //                     eventID: v.eventId,
    //                     title: v.title,
    //                     description: v.description,
    //                     start: v.start,
    //                     end: v.end != null ? v.end : null
    //                 });
    //             })

    //             generateCalendar(events);
    //         },
    //         error: function (error) {
    //             alert('failed');
    //         }
    //     })
    // }

    // function SaveEvent(data) {
    //     $.ajax({
    //         type: "POST",
    //         url: '/Home/SaveEvent',
    //         data: data,
    //         success: function (data) {
    //             alert("Successfully changed.");
    //         },
    //         error: function () {
    //             alert('Failed');
    //         }
    //     })
    // }


    // function generateCalendar(events) {
    //     var calendarEl = document.getElementById('calendar');

    //     var calendar = new FullCalendar.Calendar(calendarEl, {
    //         initialView: 'dayGridMonth',
    //         initialDate: '2024-06-07',
    //         eventResizableFromStart: true,
    //         headerToolbar: {
    //             left: 'prev,next today',
    //             center: 'title',
    //             right: 'dayGridMonth,timeGridWeek,timeGridDay'
    //         },

    //         events: events,

    //         eventDidMount: function (info) {
    //             var information = "Title: " + info.event.title + "\r\n";

    //             if (info.event.end) {
    //                 information = information + "From: " + info.event.start.toLocaleString() + "\r\nTo: " + info.event.end.toLocaleString() + "\r\n";
    //             } else {
    //                 information = information + "On: " + info.event.start.toLocaleString() + "\r\n";
    //             }

    //             if (info.event.extendedProps.description) {
    //                 information = information + "Remarks: " + info.event.extendedProps.description;
    //             }

    //             info.el.title = information;
    //         },

    //         eventClick: function (calEvent, jsEvent, view) {
    //             if (confirm("Are you sure you want to edit?")) { alert("Edited"); }
    //         },

    //         editable: true,
    //         eventDrop: function (event) {

    //             alert(event.event.title + " was dropped on " + event.event.start.toLocaleString());

    //             if (!confirm("Are you sure about this change?")) {
    //                 event.revert();
    //             } else {
    //                 var data = {
    //                     EventID: event.event.extendedProps.eventID,
    //                     Title: event.event.title,
    //                     Description: event.event.extendedProps.description,
    //                     Start: event.event.start.toLocaleString(),
    //                     End: event.event.end != null ? event.event.end.toLocaleString() : null
    //                 };
    //                 SaveEvent(data);
    //             }
                
    //         }
    //     });

    //     calendar.render();
    // }

    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            initialDate: '2024-06-07',
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },

            eventDidMount: function (info) {
                var information = "Title: " + info.event.title + "\r\n";

                if (info.event.end) {
                    information = information + "From: " + info.event.start.toLocaleString() + "\r\nEnd: " + info.event.end.toLocaleString() + "\r\n";
                } else {
                    information = information + "On: " + info.event.start.toLocaleString() + "\r\n";
                }

                if (info.event.extendedProps.description) {
                    information = information + "Remarks: " + info.event.extendedProps.description;
                }

                info.el.title = information;
            },

            eventClick: function (calEvent, jsEvent, view) {
                if (confirm("Are you sure you want to edit?")) { alert("Edited"); }
            },

            events: [
                {
                    title: 'All Day Event',
                    description: 'description for All Day Event',
                    start: '2024-06-01'
                },
                {
                    title: 'Long Event',
                    start: '2024-06-07',
                    end: '2024-06-10'
                },
                {
                    groupId: '999',
                    title: 'Repeating Event',
                    start: '2024-06-09T16:00:00'
                },
                {
                    groupId: '999',
                    title: 'Repeating Event',
                    start: '2024-06-16T16:00:00'
                },
                {
                    title: 'Conference',
                    start: '2024-06-11',
                    end: '2024-06-13'
                },
                {
                    title: 'Meeting',
                    start: '2024-06-12T10:30:00',
                    end: '2024-06-14T12:30:00',
                    description: 'description for long period'
                },
                {
                    title: 'Lunch',
                    start: '2024-06-12T12:00:00',
                    description: "testing hover info"
                },
                {
                    title: 'Meeting',
                    start: '2024-06-12T14:30:00'
                },
                {
                    title: 'Birthday Party',
                    start: '2024-06-13T07:00:00'
                },
                {
                    title: 'Click for Google',
                    url: 'https://google.com/',
                    start: '2024-07-28'
                }
            ]
        });

        calendar.render();
    });

</script>
<div>
    <div id='calendar'></div>
</div>
 