﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    .day {
        display: inline-block;
        height: 105px;
        position: relative;
        vertical-align: top;
        width: 152px;
        border-style: solid;
    }

    .event {
        background-color: lightgrey;
    }

    .dayName {
        display: inline-block;
        height: 30px;
        position: relative;
        vertical-align: top;
        text-align: center;
        width: 152px;
        border-style: solid;
    }

    .dayNumber {
        text-align: right;
        margin-bottom: 0;
        margin-right: 1px;
    }

    .currentDay {
        background: blue;
        width: 2vw;
        text-align: center;
        margin-left: 10vw;
        border-radius: 1vw;
    }

    .empty {
        display: inline-block;
        height: 105px;
        position: relative;
        vertical-align: top;
        text-align: center;
        width: 152px;
        border-style: solid;
    }

    .empty {
        background-color: gray;
    }

    .day:nth-child( n+6 ):nth-child( -n+7 ), .day:nth-child( n+13 ):nth-child( -n+14 ), .day:nth-child( n+20 ):nth-child( -n+21 ), .day:nth-child( n+27 ):nth-child( -n+28 ), .day:nth-child( n+34 ):nth-child( -n+35 ), .day:nth-child( n+41 ):nth-child( -n+42 ) {
        background-color: pink;
    }

    .day:nth-child( n+1 ):nth-child( -n+5 ), .day:nth-child( n+8 ):nth-child( -n+12 ), .day:nth-child( n+15 ):nth-child( -n+19 ), .day:nth-child( n+22 ):nth-child( -n+26 ), .day:nth-child( n+29 ):nth-child( -n+33 ), .day:nth-child( n+36 ):nth-child( -n+40 ) {
        background-color: lightblue;
    }

    .monthSelection{
        display: inline-block;
        position: relative;
        vertical-align: top;
        width: 5vw;
        border-style: solid;
    }

    .event {
        border-radius: 1vw;
        height: 3vw;
        width: 3vw;
    }

</style>

<div>
    <button class="monthSelection" onclick="monthController('dec')"> < </button><p id="monthNumber" class="monthSelection"></p><button class="monthSelection" onclick="monthController('inc')"> > </button>
</div>


<div class="dayName">Monday</div><div class="dayName">Tuesday</div><div class="dayName">Wednesday</div><div class="dayName">Thursday</div><div class="dayName">Friday</div><div class="dayName">Saturday</div><div class="dayName">Sunday</div>

<div id="calendar"></div>

<script>

    initializeCalender(new Date().getMonth() + 1);

    document.getElementById("monthNumber").innerHTML = new Date().getMonth()+1;



    function monthController(e) {
        var currentMonthValue = document.getElementById("monthNumber").innerHTML;

        if (e == "dec") { currentMonthValue--; }
        else { currentMonthValue++; }

        document.getElementById("monthNumber").innerHTML = currentMonthValue;

        initializeCalender(currentMonthValue);
    }
    

    function initializeCalender(e) {

        const weekday = [6, 0, 1, 2, 3, 4, 5];
        var currentDate = 0;

        var today = new Date();
        if (today.getMonth() == (e-1)) { var currentDate = today.getDate(); }
        var firstDay = new Date(today.getFullYear(), e-1, 1).getDay();
        var currentMonthDays = new Date(today.getFullYear(), e, 0).getDate();

        document.getElementById("calendar").innerHTML = "";
        var calenderContainer = document.getElementById("calendar");

        for (var emptyIndex = 0; emptyIndex < weekday[firstDay]; emptyIndex++) {
            calenderContainer.innerHTML = calenderContainer.innerHTML + '<div class="empty"></div>';
        }

        for (var dayIndex = 1; dayIndex <= currentMonthDays; dayIndex++) {

            if (dayIndex == currentDate) {
                calenderContainer.innerHTML = calenderContainer.innerHTML + '<div id="day' + dayIndex + '" class="day"><div class="dayNumber currentDay">' + dayIndex + '</div></div>';
            }
            else {
                calenderContainer.innerHTML = calenderContainer.innerHTML + '<div id="day' + dayIndex + '" class="day"><div class="dayNumber">' + dayIndex + '</div></div>';
            }
        }

        if ((currentMonthDays + weekday[firstDay]) % 7 > 0) {
            var remainderDay = 7 - ((currentMonthDays + weekday[firstDay]) % 7);

            for (var remainderIndex = 0; remainderIndex < remainderDay; remainderIndex++) {
                calenderContainer.innerHTML = calenderContainer.innerHTML + '<div class="empty"></div>';
            }
        }

        getAppointments(e);
    }


    function getAppointments(e) {

        var events;

        fetch("/Home/GetAppointmentListByMonth?month="+e)
            .then(response => {
                return response.ok ? response.json() : Promise.reject(response)
            })
            .then(responseJson => {                
                insertEvent(responseJson);
            })
    }


    function insertEvent(events) {

        for (var eventIndex = 0, event; event = events[eventIndex], eventIndex < events.length; eventIndex++) {

            var from = new Date(event.startDateTime.toString()).getDate();
            var to = new Date(event.endDateTime.toString()).getDate();

            for (var dayIndex = from; dayIndex <= to; dayIndex++) {

                var dayElement = document.getElementById('day' + dayIndex);

                var html = '<button '
                    + 'class="event" title="' + event.remarks + '"> <img src="/images/dog-icon.png" style="height: 2vw;"/>'
                    + '</button>';
                dayElement.insertAdjacentHTML('beforeEnd', html);
            };
        };

    }

</script>