﻿@{
    ViewData["Title"] = "Home Page";
}

<div id="google_translate_element"></div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script>

        function googleTranslateElementInit() {
            $.when(
                new google.translate.TranslateElement({
                    pageLanguage: 'en',
                    layout: google.translate.TranslateElement.SIMPLE
                }, 'google_translate_element')
            ).done(function () {
                var select = document.getElementsByClassName('goog-te-combo')[0];
                // select.selectedIndex = 1;
                select.addEventListener('click', function () {
                    select.dispatchEvent(new Event('change'));
                });
                select.click();
            });
        }
    </script>