﻿@{
    Layout = "_LayoutNew";
}

<style>
    .customInput{
        border-style: solid !important;
        border: black;
        height: fit-content !important;
    }

    .customDatetimeInput{
        width: 49%;
        display: inline-block;
    }
</style>

<script src="/FullCalendar-Resource/js/jquery.min.js"></script>
<script src="/FullCalendar-Resource/js/moment.js"></script>
<script src="/FullCalendar-Resource/js/fullcalendar.js"></script>
<script src="/FullCalendar-Resource/js/fullcalendar-resource.js"></script>

<link rel="stylesheet" href="/FullCalendar-Resource/css/fullcalendar.css">


<div id="calendar"></div>
<div class="modal fade" id="schedule-add">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add Your Schedule</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <input type="text" id="hiddenEventID" hidden>
                <form>
                    <div class="form-group">
                        <label>Event Name:</label>
                        <input type="text" id="addEventName" class="form-control customInput">

                        <label>From:</label>
                        <div>
                            <input type="date" id="addEventFromDate" class="form-control customInput customDatetimeInput">
                            <input type="time" id="addEventFromTime" class="form-control customInput customDatetimeInput">
                        </div>

                        <label>To:</label>
                        <div>
                            <input type="date" id="addEventToDate" class="form-control customInput customDatetimeInput">
                            <input type="time" id="addEventToTime" class="form-control customInput customDatetimeInput">
                        </div>

                        <label>Person:</label>
                        <select type="date" id="addEventPerson" class="form-control customInput">
                            <option value="5">All</option>
                            <option value="1" data-color="yellow">Hassan</option>
                            <option value="2" data-color="green">Fikri</option>
                            <option value="3" data-color="blue">Halim</option>
                            <option value="4" data-color="pink">Azwan</option>
                        </select>

                        <label>Remarks:</label>
                        <textarea id="addEventRemarks" rows="3" class="form-control customInput"></textarea>
                    </div>
                </form>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" onclick="AddEvent();">Add Your Schedule</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="schedule-update">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add Your Schedule</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <input type="text" id="hiddenEventID" hidden>
                <form>
                    <div class="form-group">
                        <label>Event Name:</label>
                        <input type="text" id="updateEventName" class="form-control customInput">

                        <label>From:</label>
                        <div>
                            <input type="date" id="updateEventFromDate" class="form-control customInput customDatetimeInput">
                            <input type="time" id="updateEventFromTime" class="form-control customInput customDatetimeInput">
                        </div>

                        <label>To:</label>
                        <div>
                            <input type="date" id="updateEventToDate" class="form-control customInput customDatetimeInput">
                            <input type="time" id="updateEventToTime" class="form-control customInput customDatetimeInput">
                        </div>

                        <label>Person:</label>
                        <select type="date" id="updateEventPerson" class="form-control customInput">
                            <option value="5">All</option>
                            <option value="1" data-color="yellow">Hassan</option>
                            <option value="2" data-color="green">Fikri</option>
                            <option value="3" data-color="blue">Halim</option>
                            <option value="4" data-color="pink">Azwan</option>
                        </select>

                        <label>Remarks:</label>
                        <textarea id="updateEventRemarks" rows="3" class="form-control customInput"></textarea>
                    </div>
                </form>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" onclick="UpdateEvent();">Update Your Schedule</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('body').on('hidden.bs.modal', '.modal', function () {

        $('#calendar').fullCalendar('next');
        $('#calendar').fullCalendar('prev');

    });

    var events = [
        {
            // id: 1,
            title: 'All Day Event',
            description: 'description for All Day Event',
            start: '2024-06-01',
            resource: '1',
            color: 'yellow'
        },
        {
            // id: 2,
            title: 'Long Event',
            start: '2024-06-07',
            end: '2024-06-10',
            resource: '2',
            color: 'green'
        },
        {
            // id: 3,
            groupId: '999',
            title: 'Repeating Event',
            start: '2024-06-09T16:00:00',
            resource: '3',
            color: 'blue'
        },
        {
            // id: 4,
            groupId: '999',
            title: 'Repeating Event',
            start: '2024-06-16T16:00:00',
            resource: '4'
        },
        {
            // id: 5,
            title: 'Conference',
            start: '2024-06-11',
            end: '2024-06-13',
            resource: '1',
            color: 'yellow'
        },
        {
            // id: 6,
            title: 'Meeting',
            start: '2024-06-12T10:30:00',
            end: '2024-06-14T12:30:00',
            description: 'description for long period',
            resource: '2',
            color: 'green'
        },
        {
            // id: 7,
            title: 'Lunch',
            start: '2024-06-12T12:00:00',
            description: "testing hover info",
            resource: '3',
            color: 'blue'
        },
        {
            // id: 8,
            title: 'Meeting',
            start: '2024-06-12T14:30:00',
            resource: '4'
        },
        {
            // id: 9,
            title: 'Birthday Party',
            start: '2024-06-13T07:00:00',
            resource: '1',
            color: 'yellow'
        },
        {
            // id: 10,
            title: 'CCSD project presentation',
            description: 'Presenting CCSD project',
            start: '2024-06-25T20:30:00',
            end: '2024-06-25T22:30:00',
            resource: '5',
            color: 'pink'
        }
    ];

    var eventTemp;
    var totalEvent = 0;

    $(function () { // document ready
        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,resourceAgendaDay'
                // right: 'month,agendaWeek,agendaDay'
            },
            defaultDate: moment(),
            editable: true,
            selectable: true,
            unselectAuto: false,
            eventLimit: true, // allow "more" link when too many events
            defaultView: 'month',
            eventColor: 'orange',
            eventTextColor: 'black',
            views: {
                resourceAgendaDay: {
                    type: 'resourceAgenda',
                    duration: {
                        days: 1
                    },
                    buttonText: "day"
                }
            },
            allDaySlot: false, // Unsupported yet
            unknownResourceTitle: "Others",
            resources: [
                { id: '1', name: 'Hassan' },
                { id: '2', name: 'Fikri' },
                { id: '3', name: 'Halim' },
                { id: '4', name: 'Azwan' },
                { id: '5', name: 'All' }
            ],
            eventRender: function (event, element) {
                var information = "Title: " + event.title + "\r\n";

                if (event.end) {
                    information = information + "From: " + event.start.toLocaleString() + "\r\nEnd: " + event.end.toLocaleString() + "\r\n";
                } else {
                    information = information + "On: " + event.start.toLocaleString() + "\r\n";
                }

                if (event.description) {
                    information = information + "Remarks: " + event.description;
                }

                element[0].title = information;
            },
            eventClick: function (calEvent, jsEvent, view) {
                if (confirm("Are you sure you want to edit?")) { 

                    $('#updateEventFromDate').val('');
                    $('#updateEventToDate').val('');
                    $('#updateEventFromTime').val('');
                    $('#updateEventToTime').val('');

                    var datetimeStart = calEvent.start.format().split('T');
                    if (calEvent.end) { 
                        var datetimeEnd = calEvent.end.format().split('T');
                        var dateEndString = datetimeEnd[0];
                        var timeEndString = datetimeEnd[1];
                        $('#updateEventToDate').val(dateEndString);
                        $('#updateEventToTime').val(timeEndString);
                    }
                    
                    var dateStartString = datetimeStart[0];
                    var timeStartString = datetimeStart[1];

                    $('#updateEventName').val(calEvent.title);
                    $('#updateEventFromDate').val(dateStartString);
                    $('#updateEventFromTime').val(timeStartString);
                    $('#updateEventPerson').val(calEvent.resource);
                    $('#updateEventRemarks').val(calEvent.description);


                    eventTemp = calEvent;
                    var modal = $("#schedule-update");
                    modal.modal();
                }
            },
            select: function(start, end, event){
                var datetimeStart = start.format().split('T');
                var datetimeEnd = end.format().split('T');

                var dateStartString = datetimeStart[0];
                var timeStartString = datetimeStart[1];
                var dateEndString = datetimeEnd[0];
                var timeEndString = datetimeEnd[1];


                $('#addEventFromDate').val(dateStartString);
                $('#addEventFromTime').val(timeStartString);
                $('#addEventToDate').val(dateEndString);
                $('#addEventToTime').val(timeEndString);
                $('#schedule-add').modal('show');
            }
            // dayClick: function (date, jsEvent, view) {

            //     $('#addEventFromDate').val('');
            //     $('#addEventToDate').val('');
            //     $('#addEventFromTime').val('');
            //     $('#addEventToTime').val('');

            //     var datetime = date.format().split('T');

            //     var dateString = datetime[0];
            //     var timeString = datetime[1];

            //     $('#addEventFromDate').val(dateString);
            //     $('#addEventFromTime').val(timeString);
            //     $('#schedule-add').modal('show');
            // }
            // , events: events
        });

        $('#calendar').fullCalendar('addEventSource', events);

    });

    function UpdateEvent() {
        var endDatetime = null;

        var startDate = document.getElementById("updateEventFromDate").value;
        var startTime = document.getElementById("updateEventFromTime").value;
        var endDate = document.getElementById("updateEventToDate").value;
        var endTime = document.getElementById("updateEventToTime").value;

        eventTemp.resource = document.getElementById("updateEventPerson").value;
        eventTemp.description = document.getElementById("updateEventRemarks").value;
        eventTemp.title = document.getElementById("updateEventName").value;

        var startDatetime = startDate + 'T' + startTime;
        if (endDate) { endDatetime = endDate + 'T' + endTime; }
        

        if (startTime) { eventTemp.allDay = false; }
        else { eventTemp.allDay = true; }

        eventTemp.start = startDatetime;
        eventTemp.end = endDatetime;

        $('#calendar').fullCalendar('updateEvent', eventTemp);
        var modal = $("#schedule-update");
        modal.modal('toggle');
    }

    function AddEvent() {
        $('#calendar').fullCalendar('addEventSource', [
            {
                // id: totalEvent,
                title: document.getElementById("addEventName").value,
                start: document.getElementById("addEventFromDate").value + 'T' + document.getElementById("addEventFromTime").value,
                end: document.getElementById("addEventToDate").value + 'T' + document.getElementById("addEventToTime").value,
                description: document.getElementById("addEventRemarks").value,
                resource: document.getElementById("addEventPerson").value
            }
        ]);


        $('#schedule-add').modal('hide');
    }
</script>
