﻿@{
    ViewData["Title"] = "Privacy Policy";

    Layout = "_LayoutNew";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Nunito:400,700,300' rel='stylesheet' type='text/css'>

@* <style>
    body{
  font-family: Roboto, "sans-serif";
}

.kebab {
  cursor: pointer;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 16px;
  top: 12px;
}
.kebab figure {
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background: #00bcd4;
  margin: 3px 0;
}

.middle {
  transition: all 0.25s cubic-bezier(0.72, 1.2, 0.71, 0.72);
  transform: scale(1);
  position: relative;
  box-shadow: 0 0.1px 0.1px 0 rgba(0, 0, 0, 0.16), 0 0.1px 0.3px 0 rgba(0, 0, 0, 0.12);
  -webkit-filter: blur(0.1px);
  filter: blur(0.1px);
}

.middle.active {
  transform: scale(4.5);
  transition: all 0.25s cubic-bezier(0.32, 2.04, 0.85, 0.54);
  box-shadow: 0 0.1px 0.1px 0 rgba(0, 0, 0, 0.16), 0 0.1px 0.3px 0 rgba(0, 0, 0, 0.12);
}

.cross {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  margin-top: -1px;
  font-family: "Nunito", sans-serif;
  color: white;
  transition: all 0.2s cubic-bezier(0.72, 1.2, 0.71, 0.72);
  font-size: 22px;
  user-select: none;
}

.cross.active {
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.15s cubic-bezier(0.32, 2.04, 0.85, 0.54);
}

h1, a, li {
  font-family: Roboto, sans-serif;
}

a, li {
  color: #6b6b6b;
  text-decoration: none;
}

.nav {
  margin-left: 20%;
}
.nav > li {
  display: inline-block;
  padding: 1em 18px;
  cursor: pointer;
}
.nav > li:hover {
  background: #ebebeb;
}

.dropdown {
  background: #fff;
  position: absolute;
  right: 0;
  top: 3em;
  transition: all 0.25s ease-out;
  transform: scale(0);
  transform-origin: 100% 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
}
.dropdown li {
  display: block;
  width: 100%;
}
.dropdown li a {
  width: 100%;
  padding: 1em 18px;
  display: inline-block;
  white-space: pre;
  box-sizing: border-box;
}
.dropdown li a:hover {
  background: #ebebeb;
}
.dropdown:hover ul {
  transform: scale(1);
}

.dropdown.active {
  transform: scale(1);
  transition: all 0.25s cubic-bezier(0.5, 1.8, 0.9, 0.8);
}
</style>

<ul class="nav">
    <li><a href="#">Home</a></li>
    <li><a href="#">Portfolio</a></li>
    <li><a href="#">Contact</a></li>
    <div class="kebab">
        <figure></figure>
        <figure class="middle"></figure>
        <p class="cross">x</p>
        <figure></figure>
        <ul class="dropdown">
            <li><a href="#">Art</a></li>
            <li><a href="#">Coding</a></li>
            <li><a href="#">Design</a></li>
            <li><a href="#">Web Development</a></li>
        </ul>
    </div>
</ul>

<script>
    var kebab = document.querySelector('.kebab'),
        middle = document.querySelector('.middle'),
        cross = document.querySelector('.cross'),
        dropdown = document.querySelector('.dropdown');

    kebab.addEventListener('click', function () {
        middle.classList.toggle('active');
        cross.classList.toggle('active');
        dropdown.classList.toggle('active');
    })
</script> *@

<style>
    table {
        border-collapse: separate;
        border-spacing: 0;
        /* border-top: 1px solid grey; */
    }

    td,
    th {
        /* margin: 0; */
        /* border: 1px solid grey; */
        white-space: nowrap;
        border-top-width: 0px;
        padding-left: 1vw;
        padding-right: 1vw;
    }

    .scrollable-part {
        width: 90vw;
        overflow-x: scroll;
        margin-right: 500em;
        overflow-y: scroll;
        padding: 0;
        max-height: 80vh;
    }

    .headcol {
        position: sticky;
        width: 8.8vw;
        right: 0;
        top: auto;
        text-align: center;
        border-top-width: 1px;
        margin-top: -1px;
        background: white;
        padding:0 !important;
    }

    
    .dropdown {
        background: #fff;
        position: absolute;
        right: 1vw;
        top: 0;
        transition: all 0.25s ease-out;
        transform: scale(0);
        transform-origin: 100% 0;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
    }

        .dropdown li {
            display: block;
            width: 100%;
        }

            .dropdown li button {
                width: 100%;
                padding: 0.5em;
                display: inline-block;
                white-space: pre;
                box-sizing: border-box;
            }

                .dropdown li a:hover {
                    background: #ebebeb;
                }

        .dropdown.active {
            transform: scale(0.8);
            transition: all 0.25s cubic-bezier(0.5, 1.8, 0.9, 0.8);
        }

</style>



<div class="scrollable-part" onclick="closeDropdown(true)">
    <table>
        <tr>
            <th>No</th>
            <th>Non-static column</th>
            <th>Non-static column</th>
            <th>Non-static column</th>
            <th>Non-static column</th>
            <th>Non-static column</th>
            <th>Non-static column</th>
            <th>Non-static column</th>
            <th>Non-static column</th>
            <th>Non-static column</th>
            <th>Non-static column</th>
            <th class="headcol"></th>
        </tr>
        @for (int i = 1; i < 100; i++)
        {
            <tr>
                <th>@i</th>
                <td>Non-static value</td>
                <td>Non-static value</td>
                <td>Non-static value</td>
                <td>Non-static value</td>
                <td>Non-static value</td>
                <td>Non-static value</td>
                <td>Non-static value</td>
                <td>Non-static value</td>
                <td>Non-static value</td>
                <td>Non-static value</td>
                <td class="headcol">
                    <div class="kebab" onclick="displayDropdown(this);">
                        <img src="~/images/kebab-menu-icon.png" style="width:16px; height:16px;" />

                        <ul class="dropdown">
                            <li><button href="#" style="background:transparent; border-style:none;">View</button></li>
                            <li><button href="#" style="background:transparent; border-style:none;">Edit</button></li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>

<script>
    var dropdown = document.querySelectorAll('.dropdown'),
        parent = document.querySelector('.scrollable-part'),
        currentDropdown;   

    function displayDropdown(e) {

        currentDropdown = e.querySelector('.dropdown');

        parent.classList.remove('active');
        closeDropdown(false);
        currentDropdown.classList.toggle('active');
    }

    function closeDropdown(status) {

        var parentStatus = parent.classList.contains('active');
        for (let element of dropdown) {
            if (element != currentDropdown || parentStatus) {
                element.classList.remove('active') 
            }
        }

        if (status) {
            parent.classList.toggle('active');
        }
    }
</script>


@* below works too *@

@* <style>
    /* (A) TABLE WRAPPER */
    #demoDW {
        max-height: 200px;
        overflow: auto;
    }

    /* (B) STICKY HEADERS */
    #demoDT thead, #demoDT th {
        position: sticky;
    }

    #demoDT thead {
        top: 0;
        z-index: 2;
    }

    #demoDT th {
        right: 0;
        z-index: 1;
    }

    /* (X) COSMETICS - NOT IMPORTANT */
    #demoDT th, #demoDT td {
        font-size: 20px;
        padding: 10px;
        text-align: left;
        min-width: 300px;
    }

    #demoDT thead th {
        background: #b7ffd5;
    }

    #demoDT th {
        background: #ffebec;
    }

    #demoDT td {
        background: #e4ebff;
    }
</style>

<div id="demoDW">
    <table id="demoDT">
        <thead>
            <tr>
                <th>Head</th>
                <th>Head</th>
                <th>Head</th>
                <th>Head</th>
                <th>Head</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Head</th>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <th>Head</th>
            </tr>
            <tr>
                <th>Head</th>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <th>Head</th>
            </tr>
        </tbody>
    </table>
</div> *@